
Create-EC2-Instance/.terraform.lock.hcl
Create-EC2-Instance/.terraform/providers/registry.terraform.io/hashicorp/aws/5.49.0/windows_amd64/LICENSE.txt
Create-EC2-Instance/.terraform/providers/registry.terraform.io/hashicorp/aws/5.49.0/windows_amd64/terraform-provider-aws_v5.49.0_x5.exe
Create-EC2-Instance/terraform.tfstate
Create-EC2-Instance/terraform.tfstate.backup
